<!DOCTYPE html>
<html>
  <head>
	<style>
    div#first{
    background-image: url('https://jobvacancyresult.com/job_theme/images/bg_2.jpg');
    opacity:0.9;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

</style>
    <meta charset="utf-8">
    <title>Video Interview</title>
  </head>
  <body>
  <center>
      <div id="first">
      <div style="width:400px;height:40px;background-color:#D2CAF2">
          <h1 align="center", style="color:Brown">JVR - Upload Resumes</h1>
      </div>

    {% block content %}
    {% endblock %}
  </div>
  </center>
  </body>
</html>